
@ env = { url = url, print = print }
@ function env.icon(path)
@   return [[<img class="hidden-lg" src="]]
@       .. url(path)
@       .. [[" style="height: 32px; padding-bottom:2px"/>]]
@ end

<h1>
  The Unlimited Rulebook <small style="display: inline-block">2017 - ???</small>
</h1>

<div class="row">
  <div class="col-lg-8 col-xs-12">
    $(content 'research/problem' (env))
  </div>
  <div class="col-lg-0 col-sm-3 col-xs-1"></div>
  <div class="col-lg-4 col-sm-6 col-xs-10">
    <a href="https://xkcd.com/1566/">
      <img width="80%" src="https://imgs.xkcd.com/comics/board_game.png"
           style="margin-left: 10%; margin-right: 10%"
           alt="alternative text"
           title='As you can see, "economy mechanics" is a very fitting name!'/>
    </a>
  </div>
  <div class="col-lg-0 col-sm-3 col-xs-1"></div>
</div>

<div class="row">
  <div class="col-lg-4 visible-lg-block">
    <img width="100%" src="$(url "media/anvil-impact.png")"/>
  </div>
  <div class="col-lg-8 col-xs-12">
    $(content 'research/proposal' (env))
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-xs-12">
    $(content 'research/productions' (env))
  </div>
  <div class="col-lg-4 visible-lg-block">
    <img width="100%" src="$(url "media/bookshelf.png")"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Past work</h2>
    <ul>
      <li>
        <a href="masters">
          Masters thesis: real-time soundtracks in games
        </a>
      </li>
    </ul>
    <h3>Credits</h4>
    <p>
      Icons by Delapouite and Lorc under CC BY 3.0 on
      <a href="https://game-icons.net/">game-icons.net</a>
    </p>
  </div>
</div>

