
p, li {
  text-align: left;
  font-size: 16pt;
}

.spaced p {
  margin-top: 1em;
}

h1, h2, h3 {
  font-weight: bold;
}

.container {
  background-color: #eee;
}

.smooth-navbar {
  padding-top: 1em;
  background-color: #eee;
  box-shadow: 0px 10px 15px 10px #eee;
}

.top-span {
  margin-top: 5em;
}

h1.navbar-brand {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-brand > small {
  display: none;
}

.banner-small, .banner-large {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.banner-large {
  display: none;
}

@media screen and (min-width: 530px) {
  .navbar-brand > small {
    display: inline;
  }
  .banner-large {
    display: inline;
  }
  .banner-small {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  li.navbar-item:hover {
    border-bottom: 2px solid #111;
  }
  li.active {
    border-bottom: 2px solid #666;
  }
  h1.navbar-brand {
    padding-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-0 {
    display: none;
  }
  .leftcol > p, .leftcol > h3 {
    padding-right: 16px;
  }

  .rightcol > p, .rightcol > h3 {
    padding-left: 16px;
  }
}

.col-lg-0 {
  visibility: hidden;
}

@media screen and (min-width: 992px) {
}

li.navbar-item {
  font-size: 14pt;
}

.navbar-toggle .icon-bar {
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
}

.embedded {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.embedded > iframe {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

