@ env = { url = url, print = print }

<div class="row" style="margin-top:20px; margin-bottom: 20px;">
  <div class="col-12">
    <img class="banner-large" src="$(url 'media/palestra-godot.jpg')"/>
    <img class="banner-small" src="$(url 'media/palestra-godot-small.jpg')"/>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    $(content 'home/intro' (env))
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-xs-12">
    $(content 'home/phd' (env))
  </div>
  <div class="col-lg-4 col-xs-12">
    $(content 'home/masters' (env))
  </div>
  <div class="col-lg-4 col-xs-12 spaced">
    $(content 'home/contact' (env))
  </div>
</div>

