
$(header 'Wilson Kazuo Mizutani' { bootstrap = true, stylesheets = {url'extra'} })

<body>
  <nav class="container navbar navbar-fixed-top smooth-navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#navbar-top">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <h1 class="navbar-brand">
        Wilson Kazuo Mizutani
        <small>
          PhD Student at University of São Paulo
        </small>
      </h1>
    </div>
    <div class="row collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
@       for i=1,#sections do
@         local page = sections[i][1]
@         local title = sections[i][2]
@         if page == current_page then
            <li class="navbar-item active">
              <a href="$(url(page .. '/index.html'))">$(title)</a>
            </li>
@         else
            <li class="navbar-item">
              <a href="$(url(page .. '/index.html'))">$(title)</a>
            </li>
@         end
@       end
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row top-span"></div>
    $(page_content)
  </div>
</body>

