
@ env = { url = url, print = print }

<h1>C.S. Masters <small>2014 - 2017</small></h1>

<div class="row">
  <div class="col-lg-0 col-xs-12" style="margin-top: 1em; margin-bottom: 1em">
    <div class="embedded">
      <iframe src="https://www.youtube.com/embed/7ON_gnZrHJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12">
    $(content 'research/masters/summary' (env))
  </div>
  <div class="col-lg-6 col-xs-0">
    <div class="embedded">
      <iframe src="https://www.youtube.com/embed/7ON_gnZrHJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-xs-12">
    $(content 'research/masters/productions' (env))
  </div>
</div>
