
@ env = { url = url, print = print }

<div class="row">
  <div class="col-xs-12">
    $(content "projects/intro" (env))
  </div>
</div>

<div class="row" style="margin-top: 2em"></div>

<div class="row">
  <div class="col-lg-0 hidden-md col-sm-3 col-xs-2"></div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-8">
    <span class="visible-md-block" style="margin-top: 20%"></span>
    <span class="visible-lg-block" style="margin-top: 5%"></span>
    <a href="https://usp.game.dev.br">
      <img width="100%" src="$(url "media/ugd.png")"/>
      <span class="visible-xs-block visible-sm-block" style="margin-top: 2em"></span>
    </a>
  </div>
  <div class="col-lg-0 hidden-md col-sm-3 col-xs-2"></div>
  <div class="col-lg-8 col-md-6 col-xs-12">
    $(content "projects/uspgamedev" (env))
  </div>
</div>

<div class="row" style="margin-top: 2em">
  <div class="col-lg-0 hidden-md col-sm-2 col-xs-1"></div>
  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
    <span class="visible-md-block" style="margin-top: 10%"></span>
    <a href="$(url "media/backdoor.png")">
      <img width="100%" src="$(url "media/backdoor.png")"/>
      <span class="visible-xs-block visible-sm-block" style="margin-top: 2em"></span>
    </a>
  </div>
  <div class="col-lg-0 hidden-md col-sm-2 col-xs-1"></div>
  <div class="col-lg-6 col-md-6 col-xs-12">
    $(content "projects/backdoor" (env))
  </div>
</div>


